*{
    margin:0;
    padding:0;
}

#container{
    display:flex;
    flex-direction:column;
    width:100%;
}

nav{
    display:flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content:center;
}

#photos{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-evenly;
    
}


header h1{
    color: black;
    -webkit-text-fill-color: white;
        -webkit-text-stroke-width: 2px;
font-family: 'Playfair Display', serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Bitter', serif;
    
    font-size:5em;
    text-align: center;
}




nav div{
    padding: 0 0px;
    background-color:#ddd;
    border:9px;
    border-color: gainsboro;
}

nav a:link,nav a:visited{
    color:#fff;
    text-decoration: none;
    font-size:2em;
    border: 3px gainsboro solid;
    background-color:#222;
    width:33%;
    padding:  0 40px
}

nav a:hover{
     color: black;
     background-color:#ddd;
}


#photos{

    border-bottom-right-radius: 3000px;
    
}
#photo1,#photo2,#photo3,#photo4,#photo5,#photo6,#photo7,#photo8,#photo9{
    background-size:cover;
    width:270px;
    height:270px;
    margin:5px;
    border:3px solid gold;
    font-size:8em;
    text-align: center;
}


/*all the images*/
#photo1{
    background-image:url(images/dining1.jpg);  
}
#photo2{
    background-image:url(images/dining2.jpg);
}
#photo3{
    background-image:url(images/dining3.jpg);
    
}
#photo4{
    background-image:url(images/dining4.jpeg);

}
#photo5{
    background-image:url(finalimages/Dining%20Room%20Chair.jpg);
  
}
#photo6{
    background-image:url(finalimages/DiningRoomChair2.jpeg);
  
}
#photo7{
    background-image:url(finalimages/DiningRoomChair3.jpeg);
    
}

  

#photo1:hover:after{
    content:"Simple Table";
    font-size: .2em;
   color: black;
    -webkit-text-fill-color: white;
        -webkit-text-stroke-width: 1px;
    text-justify: auto;
}
#photo2:hover:after{
    content:"Dining table with drawers included";
    text-align: justify;
    font-size: .2em;
   color: black;
    -webkit-text-fill-color: white;
        -webkit-text-stroke-width: 1px;
}
#photo3:hover:after{
    content:"Rustic Table with a modern twist";
    font-size: .2em;
   color: black;
    -webkit-text-fill-color: white;
        -webkit-text-stroke-width: 1px;
    text-justify: auto;
}
#photo4:hover:after{
    content:"Clean Table for any dining room";
    text-align: left;
    font-size: .2em;
   color: black;
    -webkit-text-fill-color: white;
        -webkit-text-stroke-width: 1px;
}
#photo5:hover:after{
    content:"Vintage chair to fit any table";
    text-align: left;
    font-size: .2em;
   color: black;
    -webkit-text-fill-color: white;
        -webkit-text-stroke-width: 1px;
}
#photo6:hover:after{
    content:"Red chair to spice up your room";
    text-align: left;
    font-size: .2em;
   color: black;
    -webkit-text-fill-color: white;
        -webkit-text-stroke-width: 1px;
}
#photo7:hover:after{
    content:"Metalic chair";
    text-align: left;
    font-size: .2em;
   color: black;
    -webkit-text-fill-color: white;
        -webkit-text-stroke-width: 1px;
}


html { 
  background: url(images/dining8.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



