*{
    margin:0;
    padding:0;
}

#container{
    display:flex;
    flex-direction:column;
    width:100%;
}

nav{
    display:flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content:center;
}

#photos{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-evenly;
    
}


header h1{
    color: black;
    -webkit-text-fill-color: white;
        -webkit-text-stroke-width: 2px;
font-family: 'Playfair Display', serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Bitter', serif;
    
    font-size:5em;
    text-align: center;
}




nav div{
    padding: 0 0px;
    background-color:#ddd;
    border:9px;
    border-color: gainsboro;
}

nav a:link,nav a:visited{
    color:#fff;
    text-decoration: none;
    font-size:2em;
    border: 3px gainsboro solid;
    background-color:#222;
    width:33%;
    padding:  0 40px
}

nav a:hover{
     color: black;
     background-color:#ddd;
}


#photos{

    border-bottom-right-radius: 3000px;
    
}
#photo1,#photo2,#photo3,#photo4,#photo5,#photo6,#photo7,#photo8,#photo9{
    background-size:cover;
    width:270px;
    height:270px;
    margin:5px;
    border:3px solid gold;
    font-size:8em;
    text-align: center;
}


/*all the images*/
#photo1{
    background-image:url(images/couch1.jpg);  
}
#photo2{
    background-image:url(images/couch2.jpg);
}
#photo3{
    background-image:url(images/couch3.png);
    
}
#photo4{
    background-image:url(images/couch4.jpg);

}
#photo5{
    background-image:url(images/couch5.jpg);
  
}
#photo6{
    background-image:url(images/couch7.jpg);
  
}
#photo7{
    background-image:url(images/couch8.jpg);
    
}

  

#photo1:hover:after{
    content:"Rustisc couch to spruse up your living room";
    font-size: .2em;
    color: black;
    -webkit-text-fill-color: white;
        -webkit-text-stroke-width: 1px;
    text-justify: auto;

    
}
#photo2:hover:after{
    content:"Mixture of material with leather and metal couch";
    text-align: justify;
    font-size: .2em;
    color: black;
    -webkit-text-fill-color: white;
        -webkit-text-stroke-width: 1px;
}
#photo3:hover:after{
    content:"Smaller version of previous model";
    text-align: justify;
    font-size: .2em;
    color: black;
    -webkit-text-fill-color: white;
        -webkit-text-stroke-width: 1px;
}
#photo4:hover:after{
    content:"Perfect couch for a darker living room";
    font-size: .2em;
    color: black;
    -webkit-text-fill-color: white;
        -webkit-text-stroke-width: 1px;
    text-justify: auto;
}
#photo5:hover:after{
    content:"Light colour couch";
    text-align: left;
    font-size: .2em;
   color: black;
    -webkit-text-fill-color: white;
        -webkit-text-stroke-width: 1px;
}
#photo6:hover:after{
    content:"The extravegant couch";
    text-align: left;
    font-size: .2em;
   color: black;
    -webkit-text-fill-color: white;
        -webkit-text-stroke-width: 1px;
}
#photo7:hover:after{
    content:"Simply Modern couch for any living room";
    text-align: left;
    font-size: .2em;
   color: black;
    -webkit-text-fill-color: white;
        -webkit-text-stroke-width: 1px;
}



html { 
  background: url(images/living3.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



